.parent{
    border: 2px dotted black;
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
   
}

div[class*="div"]{
    
    border: 1px solid black;
    width: 100px;
    height: 100px;
}
.div1{
    order: 2;
    align-self: flex-end;
}
.div2{
    order: 3;
}
.div3{
    order: 1;
}

